@-webkit-keyframes btnanim {
  0% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes btnanim {
  0% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes color {
  from {
    color: transparent;
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes color {
  from {
    color: transparent;
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    width: 100%;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes openup {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes openup {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@-webkit-keyframes head {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }
}

@keyframes head {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }
}
