@import "./utils/variables.scss";
@import "./utils/mixin.scss";
@import "./utils/keyframes.scss";
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
body {
  width: 100%;
  margin: 0%;
  height: 100%;
  background: rgb(60, 60, 60);
  background: linear-gradient(
    52deg,
    rgba(60, 60, 60, 1) 0%,
    rgba(0, 0, 0, 1) 35%,
    rgba(65, 65, 65, 1) 100%
  );
}
header {
  display: flex;
  justify-content: center;
  height: 200px;
  z-index: 0;
  animation: head ease;
  animation-delay: 7s;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -1px 20px 0px white;
  width: 100%;
  z-index: 2;
  opacity: 2;
  margin-top: 15%;
  color: rgb(2, 2, 2);
  border-top: 1px solid rgb(255, 255, 255);
  margin-bottom: 5%;
  img {
    width: 50px;
  }
  .logo__1 {
    padding-bottom: 20px;
    padding-right: 20px;
    filter: invert(100%);
  }
  .logo__2 {
    filter: invert(100%);
    padding-left: 20px;
  }
  h1 {
    font-family: $Fonttitle;
    border-bottom: 5px solid rgb(150, 150, 150);
    font-size: 35px;
    color: white;
    text-align: center;
    padding-bottom: 2%;
  }
}
main {
  margin: 0%;
  background-image: url(https://cdn.pixabay.com/photo/2015/01/07/16/37/wood-591631_960_720.jpg);
  border-radius: 50px;
  box-shadow: -2px -8px 20px 11px black;
  height: auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  font-family: $Fontmain;
  .ido {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 7px ridge #979797;
    background: #ffffffe0;
    border-radius: 64px 64px 64px 64px;
    height: 20px;
    width: 50%;
    margin: 0%;
    padding: 3% 0% 3% 0%;
    font-size: 25px;
    font-family: $Fonttitle;
    margin-top: 3%;
  }
  h3 {
    display: flex;
    justify-content: center;
    width: 90%;
    font-size: 20px;
    border-bottom: 5px dotted rgb(241, 241, 241);
    border-top: 5px dotted white;
    margin-top: 10%;
    color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background: rgba(97, 97, 97, 0.507);
  }
}
.epilation {
  margin: 0%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: $Fontmain;
  .epilation__bouton {
    @include boutonmenu;
    background: url(../images/oldpaper.png) center/cover;
    .epilation__acte {
      font-size: 16px;
      width: 70%;
      display: flex;
      text-align: start;
      padding-left: 8%;
    }
    .epilation__prix {
      font-size: 17px;
      font-weight: 900;
      padding-left: 10%;
      width: 30%;
      display: flex;
      justify-content: center;
    }
  }
}
footer {
  height: 360px;
  display: flex;
  justify-content: center;
  p {
    font-size: 16px;
    font-weight: 900;
    font-family: $Fontmain;
  }
  .contact {
    width: 100%;
  }
  .contact__mail {
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: white;
  }
  .contact__telephone {
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: white;
  }
  .contact__creation {
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: white;
  }
}

.select_1 {
  @include button();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: 4%;
  margin-bottom: 4%;
  h1 {
    color: white;
    margin: 10px 0px 10px 0px;
    font-size: 22px;
  }
}

.inside {
  border-radius: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: (#1f1f1f00);
  visibility: hidden;
  height: 0%;

  .soin {
    border: inset rgb(255, 255, 255);
    box-shadow: 0px 1px 5px 1px #fcfcfc;
    margin: 2% 0% 2% 0%;
    width: 85%;
    height: auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: 0.5s;

    h2 {
      margin-left: 10px;
      margin: 0 0 0 2;
      color: rgb(252, 252, 252);
      font-size: 18px;
    }
    .price {
      color: white;
      font-weight: 900;
      margin-right: 5%;
      font-size: 17px;
    }
  }
}

/** 


<a href="https://www.flaticon.com/free-icons/bamboo" 
title="bamboo icons">Bamboo icons created by Freepik - Flaticon</a>

<a href="https://www.flaticon.com/fr/icones-gratuites/lotus"
 title="lotus icônes">Lotus icônes créées par Freepik - Flaticon</a>

**/

.get-big {
  height: 750px;
  background: #1f1f1fe1;
  box-shadow: 0px 0px 12px 9px #000000;
  &:nth-of-type(2) {
    height: 400px;
  }
  &:nth-of-type(3) {
    height: 320px;
  }
  h1 {
    display: none;
  }
  .inside {
    visibility: visible;
    height: 100%;
  }
  .soin {
    opacity: 1;
    background: #1f1f1f;
  }
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0%;
}
.cube1 {
  position: fixed;
  width: 110%;
  height: 882px;
  background: url(https://img.freepik.com/free-vector/black-dark-3d-low-poly-geometric-background_79145-393.jpg?w=1380);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  z-index: 1;
  animation: openup 2s ease forwards;
  animation-delay: 6s;
}
.cube2 {
  position: fixed;
  right: 0%;
  width: 100%;
  height: 882px;
  background: url(https://img.freepik.com/free-vector/black-dark-3d-low-poly-geometric-background_79145-393.jpg?w=1380);
  clip-path: polygon(0 0, 100% 100%, 100% 0);
  z-index: 2;
  animation: openup 2s ease forwards;
  animation-delay: 6s;
}
.cap {
  font-size: 2em;
  z-index: 5;
  background: linear-gradient(
    33deg,
    rgba(60, 60, 60, 1) 0%,
    rgba(233, 233, 233, 1) 15%,
    rgba(245, 245, 245, 1) 74%,
    rgba(65, 65, 65, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: color ease-in;
  position: absolute;
  top: 80px;
  width: 0%;
  margin: 0;
  transform: translateX(-200px);
  text-align: center;
  opacity: 0;
  font-family: $Fonttitle;

  filter: brightness(2);
  &:nth-of-type(1) {
    top: 5%;
    animation: color ease;
    animation-delay: 0s;
    animation-duration: 6s;
  }
  &:nth-of-type(2) {
    top: 20%;
    animation: color ease;
    animation-delay: 1.1s;
    animation-duration: 4.9s;
  }
  &:nth-of-type(3) {
    top: 40%;
    animation: color ease;
    animation-delay: 1.1s;
    animation-duration: 4.9s;
  }
  &:nth-of-type(4) {
    top: 60%;
    animation: color ease;
    animation-delay: 2.1s;
    animation-duration: 3.9s;
  }
  &:nth-of-type(5) {
    top: 85%;
    animation: color ease;
    animation-delay: 3.1s;
    animation-duration: 2.9s;
  }
}
