@keyframes btnanim {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes color {
  from {
    color: transparent;
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    width: 100%;
    transform: translateX(0px);
  }
}
@keyframes openup {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes head {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }
}
