@mixin boutonmenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 48px;
  border-radius: 15px;
  margin: 5px 0px 25px 0px;
  box-shadow: 13px 8px 13px 5px rgba(3, 3, 3, 0.75);
}
@mixin button {
  background: (#1f1f1f);
  border-radius: 50px;
  width: 90%;
  height: 50px;
  transition: height 1s ease-in;
  margin-top: 2%;
  margin-bottom: 2%;
}
